<!-- <div class="bg-outside"> -->
<div class='container bg-outside p-4'>
    <div class='row p-2'>
        <div
            class='home-match d-flex flex-wrap justify-content-center col-lg-12'
        >
            <div class='match-r64--outside p-5 col-lg-6'>
                <div class='match-r64'>
                    <h1 class='match--title text-center m-0'>Round 64</h1>
                    {{#each r64}}
                        <div class='match-list'>
                            <a href='/match_list/1_64' class='text-light'>
                                <div
                                    class='match-item d-flex flex-wrap justify-content-center'
                                >
                                    <div class='match-item__player1'>
                                        <p class='match-item__para'>
                                            {{this.player1}}
                                        </p>
                                    </div>

                                    <p class='match-item__para px-3'>-</p>

                                    <div class='match-item__player2'>
                                        <p class='match-item__para'>
                                            {{this.player2}}
                                        </p>
                                    </div>

                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class='match-r64--outside p-5 col-lg-6'>
                <div class='match-r64'>
                    <h1 class='match--title text-center m-0'>Round 32</h1>

                    {{#each r32}}
                        <div class='match-list'>
                            <a href='/match_list/1_32' class='text-light'>
                                <div
                                    class='match-item d-flex flex-wrap justify-content-center'
                                >
                                    <div class='match-item__player1'>
                                        <p class='match-item__para'>
                                            {{this.player1}}
                                        </p>
                                    </div>

                                    <p class='match-item__para px-3'>-</p>

                                    <div class='match-item__player2'>
                                        <p class='match-item__para'>
                                            {{this.player2}}
                                        </p>
                                    </div>

                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class='match-r64--outside p-5 col-lg-6'>
                <div class='match-r64'>
                    <h1 class='match--title text-center m-0'>Round 16</h1>
                    {{#each r16}}
                        <div class='match-list'>
                            <a href='/match_list/1_16' class='text-light'>
                                <div
                                    class='match-item d-flex flex-wrap justify-content-center'
                                >
                                    <div class='match-item__player1'>
                                        <p class='match-item__para'>
                                            {{this.player1}}
                                        </p>
                                    </div>

                                    <p class='match-item__para px-3'>-</p>

                                    <div class='match-item__player2'>
                                        <p class='match-item__para'>
                                            {{this.player2}}
                                        </p>
                                    </div>

                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class='match-r64--outside p-5 col-lg-6'>
                <div class='match-r64'>
                    <h1 class='match--title text-center m-0'>Round 8</h1>
                    {{#each r8}}
                        <div class='match-list'>
                            <a href='/match_list/1_8' class='text-light'>
                                <div
                                    class='match-item d-flex flex-wrap justify-content-center'
                                >
                                    <div class='match-item__player1'>
                                        <p class='match-item__para'>
                                            {{this.player1}}
                                        </p>
                                    </div>

                                    <p class='match-item__para px-3'>-</p>

                                    <div class='match-item__player2'>
                                        <p class='match-item__para'>
                                            {{this.player2}}
                                        </p>
                                    </div>

                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>